<h1> Welcome To the Cerberus Prox Frontend! </h1>

<p>
  You currently have <%= @total_enabled_users %> active 
  <%= link_to 'cards', :controller => 'cards' %>. 
</p> 

<h3>Shortcuts</h3>
<ul>
  <li>
    Add a <%= link_to 'new Card', new_card_path %>
  </li>

  <li> 
    View the <%= link_to 'Access Log', :controller => 'access_logs', :action => "timeline" %> 
  </li>

</ul>

<% Door.all.each do |door| %>
    <button class="open_door" id="<%= door.name %>">Open the <%= door.display_name %></button>
<% end %>

<div class="dialog" id="door_dialog">
 <img src="/images/door-activity.gif" />
</div>
