<h1> Welcome To the Cerberus Prox Frontend! </h1>

<p>
  You currently have <%= @total_enabled_users %> active 
  <%= link_to 'cards', :controller => 'cards' %>. 
</p> 

<h3>Shortcuts</h3>
<ul>
  <li>
    Add a <%= link_to 'new Card', new_card_path %>
  </li>

  <li> 
    View the <%= link_to 'Access Log', :controller => 'access_logs', :action => "timeline" %> 
  </li>

  <% Door.all.each do |door| %>
   <li>
      <a href="#" class="open_door" id="<%= door.name %>">Open the <%= door.name %></a>
      <img class="activity door" id="<%= door.name %>_activity" src="/images/door-activity.gif" />
  </li>
  <% end %>
</ul>
