<%= link_to "Timeline", :action => "timeline" %>

<table>
  <tr>
    <th>User</th>
    <th>Action</th>
    <th>Door</th>
    <th>Date</th>
    <th></th>
  </tr>

<% @access_logs.each do |access_log| %>
  <tr>
    <td>
      <% if card = access_log.card %>
         <%= access_log.card.user %>
      <% else %>
         <%= access_log.card_id %><br/>
	       <%=  link_to 'Add Card',new_card_path(:card_id=>access_log.card_id) %>
      <% end %>
    </td>
    <td><%= access_log.action %></td>
    <td><%= access_log.door %></td>
    <td><%= access_log.logged.strftime('%b %e, %l:%M %p') %></td>
    <td><%= link_to 'Show', access_log %></td>
  </tr>

<% end %>
</table>
