<table>
  <tr>
    <th>User</th>
    <th>Nick</th>
    <th>After hours</th>
    <th>Expires</th>
    <th>Valid from</th>
    <th>Disabled</th>
    <th>Magic</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cards.each do |card| %>
  <tr>
    <td class="<%= card.disabled == 'Y' ? 'disabled' : 'enabled'%>">
      <%= card.user %>
    </td>
    <td><%= card.nick %></td>
    <td><%= card.after_hours %></td>
    <td><%= card.expires %></td>
    <td><%= card.valid_from %></td>
    <td><%= card.disabled %></td>
    <td><%= card.magic %></td>
    <td><%= link_to 'Show', card %></td>
    <td><%= link_to 'Edit', edit_card_path(card) %></td>
    <td><%= link_to 'Destroy', card, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Card', new_card_path %>
