<%= link_to 'New Card', new_card_path %>
<table>
  <tr>
    <th>Card ID</th>
    <th>User</th>
    <th>Nick</th>
    <th>Magic</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cards.each do |card| %>
  <tr id="<%= card.id %>" >
    <td class="<%= card.disabled ? 'disabled' : 'enabled'%>" >
      <%= card.id %>
    </td>
    <td><%= card.user %></td>
    <td><%= card.nick %></td>
    <td><%= card.magic ? "Y" : "N" %></td>
    <td><%= link_to 'Show', card %></td>
    <td><%= link_to 'Edit', edit_card_path(card) %></td>
    <td><%= link_to 'Destroy', card, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
