<!DOCTYPE html>
<html>
<head>
  <title>CerberusFrontend</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min.js', 'jquery-ui-1.8.10.custom.min.js', 'application.js','rails.js' %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>

<div id="main_header">
  <div id="tabs">
    <ul>
      <li class="<%= tab_selected?('dashboard')%>"><%= link_to 'dashboard', :controller => 'dashboard' %></li>
      <li class="<%= tab_selected?('cards')%>"><%= link_to "cards", :controller => 'cards'%></li>
      <li class="<%= tab_selected?('access_logs')%>"><%= link_to "access log", :controller => 'access_logs' %></li>
      <li class="<%= tab_selected?('access_groups')%>"><%= link_to "access groups", :controller => 'access_groups' %></li>
      <li class="<%= tab_selected?('doors')%>"><%= link_to "doors", :controller => 'doors' %></li>
    </ul>
  </div>
</div>
<div class="clearfix"></div>

<%= yield %>

</body>
</html>
